<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
	<th:block th:include="geral/head :: head"></th:block>
</head>

<body>
<div class="container">
	<div th:replace="geral/header :: header">&nbsp;</div>
	<div id="container-pdf">
		<div class="row">
			<center>
				<h3><strong>Lista de tarefas a fazer</strong></h3>
				<p>Total de tarefas: <strong><span th:text="${totalTarefasAbertas}" /></strong></p>
			</center>
		</div>
		<table class="table table-hover table-list-task" id="tabela-tarefas-abertas">
			<thead>
				<tr>
					<th>Id</th>
					<th id="nome">Nome <i class="fa fa fa-sort"></i></th>
					<th>Descri&ccedil;&atilde;o</th>
					<th>Categoria</th>
					<th id="prioridade">Prioridade <i class="fa fa fa-sort"></i></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>	
			<tbody>
				<tr th:each="tarefa : ${tarefalista}">
					<td th:text="${tarefa.tarefaId}"></td>
					<td th:text="${tarefa.nomeTarefa}"></td>
					<td th:text="${tarefa.descricaoTarefa}"></td>
					<td th:text="${tarefa.categoriaTarefa}"></td>
					<td th:text="${tarefa.prioridadeTarefa}"></td>
					<td><a th:href="@{'/finalizatarefa/' + ${tarefa.tarefaId}}"><i class="fa fa-check-square-o"></i></a></td>
					<td><a th:href="@{'/editatarefa/' + ${tarefa.tarefaId}}"><i class="fa fa-pencil"></i></a></td>
					<td><a th:href="@{'/detalhestarefa/' + ${tarefa.tarefaId}}"><i class="fa fa-info"></i></a></td>
					<td><a th:href="@{'/deletatarefa/' + ${tarefa.tarefaId}}"><i class="fa fa-trash"></i></a></td>
				</tr>
			</tbody>
		</table>
		<div id="editor" class="row"></div>
	</div>
	<div class="row">
		<p class="btn btn-default btn-add-new-task">
			<a href="/carregatarefa"><strong>Adicionar nova tarefa</strong></a>
		</p>
		<p><a href="javascript:exportPDF();" class="btn btn-default btn-add-new-task btn-pdf">Gerar PDF</a></p>
	</div>
	
		
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h5 class="panel-title panel-title-custom">Filtro de tarefas</h5>
	  </div>
	  <div class="panel-body">
	    <form th:action="@{/}" method="post" enctype="multipart/form-data" class="form-horizontal" id="formFiltrar">
	    	<div class="col-lg-12">
	    		
	    		<div class="form-group">
				    <label class="col-sm-2 control-label">Filtrar por:</label>
				    <div class="col-sm-10">
				    	<label class="radio-inline">
						  <input type="radio" name="opcaoFiltro" value="0" /> Categoria
						</label>
						<label class="radio-inline">
						  <input type="radio" name="opcaoFiltro" value="1" /> Prioridade
						</label>
				    </div>
				  </div>
	   
		    	<div class="input-group">
				    <input type="text" class="form-control" placeholder="Buscar tarefa..." name="filtroTarefa" />
				      <span class="input-group-btn">
				      	<input type="submit" class="btn btn-default" value="Pesquisar" />
				      </span>
				  </div>
			  </div>
	    </form>
	    
	    <hr />
	    
	    <div th:if="${tarefalistaFiltro}">
	    	<br />
	    	
	    	<p class="text-total-task-filter label label-info">
	    		Total de tarefas encontradas: <strong><span th:text="${totalfiltro}" /></strong>
			</p>
	    	<br />
	    	<p class="text-total-task-filter label label-danger" style="margin-top: 5px;">
	    		Total de tarefas em aberto: <strong><span th:text="${totalfiltroaberta}" /></strong>
	    	</p>
	    	
	    	<table class="table table-hover" >
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Descri&ccedil;&atilde;o</th>
						<th>Categoria</th>
						<th>Prioridade</th>
					</tr>
				</thead>	
				<tbody>
					<tr th:each="tarefa : ${tarefalistaFiltro}">
						<td th:text="${tarefa.tarefaId}"></td>
						<td th:text="${tarefa.nomeTarefa}"></td>
						<td th:text="${tarefa.descricaoTarefa}"></td>
						<td th:text="${tarefa.categoriaTarefa}"></td>
						<td th:text="${tarefa.prioridadeTarefa}"></td>
					</tr>
				</tbody>
			</table>
	    
	    </div><!--/div com o resultado do filtro  -->
	    
	    
	  </div>
	</div>
	
	<footer class="footer">
		<th:block th:include="geral/footer :: footer"></th:block>
	</footer>
</div><!--/ container  -->
</body>
</html>
