@charset "utf-8";

body{
	background-color: #fafafa;
}

.container{
	background-color: #fff;
	max-width: 930px;
}

.table-list-task{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	background: #f7f7f7;
	border-radius: 2px;
	border-top: 1px solid #e6e3e3;
}

.btn-add-new-task{
	margin: 0 auto;
	display: block;
	width: 50%;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 1px solid #357ae8;
	background: #357ae8;
	color:white;
}
	.btn-add-new-task a{
		color:white;
	}
		.btn-add-new-task:hover{
			text-decoration:none;
			background: #357ae8;
		}
		.btn-add-new-task a:hover{
			text-decoration:nome;
		}
.panel-title-custom {
	font-size:14px;
}	

.hidden-input {
    display: none;
}	
#input-categoria{
	margin-top:5px;
}
textarea.form-control {resize:none;}

.text-total-task-filter{
	float:left;
	width: 100%;
	height: 20px;
	padding-top: 5px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.pull-right{margin-top:15px;}

#tabela-tarefas-abertas #nome,#tabela-tarefas-abertas #prioridade {
	cursor:pointer;
} 

.input-sub{
	margin-top: 5px;
}
.label-info-tarefa{
	margin-top: -8px;
	float: left;
	font-weight: 100;
	font-size: 15px;
	font-style: italic;
}

.label-border{
	border-bottom: 1px solid #e5e5e5;
}